h1{
    color: blue;
}

.container{
    text-align: center;
    margin: 30px 0px;
    font-family:Gulim;
}


.list{
    background-color: rgb(220, 232, 255);
}

.haha{
    font-size: 30px;
    color: white;
}
.h2{
    background-color: cornflowerblue;
    color: white;
}
